<section class="bg-gray-200 h-screen flex justify-center items-center bg-no-repeat bg-center"
    style="background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);">
    <form action="/login" method="post" class="bg-white shadow-md rounded px-10 pt-20 pb-20 mb-4 w-full max-w-lg ">
        <div class="text-center text-3xl mb-6 font-bold"><img
                src="/images/shoeroom-high-resolution-logo-black-on-transparent-background.png" alt="">
            <h1>LogIn</h1>
        </div>
        <div class=" mb-4">
            {{#if error}}
            <p class="  text-red-600">Invalid username or password</pc>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email
                </label>
                {{/if}}
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="email" name="email" placeholder="Email">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="password" name="password" type="password" placeholder="*********">
        </div>
        <div class="flex items-center justify-center">
            <button
                class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-4"
                type="submit">
                Sign In
            </button>

        </div>

        <div class="flex flex-col gap-4 items-center mt-6">
            <a class="inline-block align-baseline font-bold text-sm text-gray-500 hover:text-gray-800" href="#">
                Forgot Password?
            </a>
            <div>Create new account, <a
                    class="inline-block align-baseline font-bold text-sm text-gray-500 hover:text-gray-800 mr-4"
                    href="/signup">
                    Sign Up
                </a></div>

            <a class="inline-block align-baseline font-bold text-sm text-gray-500 hover:text-gray-800" href="#">
                Login with OTP
            </a>
        </div>
    </form>
</section>