<section class="bg-gray-200 h-screen flex justify-center items-center bg-no-repeat bg-center"
    style="background-image: url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);">
    <form action="/signup" method="post" class="bg-white shadow-md rounded px-10 pt-20 pb-20 mb-4 w-full max-w-lg ">
        <div class="text-center text-3xl mb-6 font-bold">
            <h1>Register form</h1>
        </div>
        <div class=" mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Name
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="name" type="text" name="name" placeholder=" name">
        </div>
        <div class=" mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Email
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" type="email" name="email" placeholder="Email">
        </div>
        <div class=" mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="number">
                Phone
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="number" type="text" name="number" placeholder=" Enter your number">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Password
            </label>
            <input class=" shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
                focus:outline-none focus:shadow-outline" id="password" type="password" name="password"
                placeholder="*********">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2">
                Confirm Password
            </label>
            <input class=" shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
                focus:outline-none focus:shadow-outline" id="Cpassword" type="password" name="confpassword"
                placeholder="*********">
        </div>
        <div class="flex items-center justify-center ">
            <button
                class="bg-black hover:bg-gray-700 text-white font-bold py-4 px-8 rounded focus:outline-none focus:shadow-outline mr-4"
                type="submit">
                Signup
            </button>

        </div>
        <div class="flex items-center mt-6">

    </form>
</section>