<div class="flex flex-col overflow-hidden">
    <div class="overflow-x-auto sm:-mx-6 lg:mx-10">
        <div class=" m-10   inline-block w-5/6 sm:px-8 lg: px-8">
            <div class="   ">

                <table class="min-w-full text-center m-8  ">
                    <thead class="border-b bg-gray-50">
                        <tr>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                                Image
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                                Name
                            </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                                Quantity
                            </th>


                        </tr>
                    </thead class="border-b">
                    <tbody>
                        {{#each products}}
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                <img class=" w-60 h-30" src="/product-images/{{this.product._id}}.jpg" alt="">
                            </td>

                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                {{this.product.name}}</td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                {{this.quantity}}
                            </td>



                        </tr class="bg-white border-b">
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>