<div class="  m-10 flex flex-col  items-center">

    <div class="  flex flex-col justify-center  p-6 rounded-lg shadow-lg bg-white max-w-sm">
        <form action="/admin/add-products" method="post" enctype="multipart/form-data">
            <div class=" form-group mb-6">

                <div class="flex justify-center">
                    <div class="mb-3 xl:w-96">
                        <label for="Product Name" class="form-label inline-block mb-2 text-gray-700">Model
                            Name</label>
                        <input type="text" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter model name" name="model_name" />

                        <label for="Brand" class="form-label inline-block mb-2 text-gray-700">Manufacturer</label>
                        <input type="text" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter manufacturer" name="manufacturer" />

                        <label for="Description" class="form-label inline-block mb-2 text-gray-700">Description</label>
                        <input type="text" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter description" name="description" />

                        <label for="Price" class="form-label inline-block mb-2 text-gray-700">Color</label>
                        <input type="text" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter color" name="color" />

                        <label for="Price" class="form-label inline-block mb-2 text-gray-700">Item-Weight</label>
                        <input type="number" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter item-weight" name="item-weight" />

                        <label for="Price" class="form-label inline-block mb-2 text-gray-700">Length</label>
                        <input type="number" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter length" name="length" />


                        <label for="Price" class="form-label inline-block mb-2 text-gray-700">Width</label>
                        <input type="number" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter width" name="width" />

                        <label for="Price" class="form-label inline-block mb-2 text-gray-700">Height</label>
                        <input type="number" class="
                        form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    " placeholder="Enter height" name="height" />

                        <label for="Price" class="form-label inline-block mb-2 text-gray-700">Price</label>
                        <input type="number" class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
                            bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out
                            m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600
                            focus:outline-none " placeholder=" Enter Price" name="price" />



                        <img class="w-28 h-28" src="" alt="" id="preview1">
                        <label for="Image" class="form-label inline-block mb-2 text-gray-700">Image-1(add the
                            right side of the product)</label>
                        <input class="form-control
                                        block
                                        w-full
                                        px-3
                                        py-1.5
                                        text-base
                                        font-normal
                                        text-gray-700
                                        bg-white bg-clip-padding
                                        border border-solid border-gray-300
                                        rounded
                                        transition
                                        ease-in-out
                                        m-0
                                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            name="Image1" type="file" onchange="viewImage1(event);" id="formFilea">

                        <img class="w-28 h-28" src="" alt="" id="preview2">
                        <label for="Image" class="form-label inline-block mb-2 text-gray-700">Image-2(add the
                            front side of the product)</label>
                        <input class="form-control
                                        block
                                        w-full
                                        px-3
                                        py-1.5
                                        text-base
                                        font-normal
                                        text-gray-700
                                        bg-white bg-clip-padding
                                        border border-solid border-gray-300
                                        rounded
                                        transition
                                        ease-in-out
                                        m-0
                                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            name="Image2" type="file" onchange="viewImage2(event);" id="formFile">

                        <img class="w-28 h-28" src="" alt="" id="preview3">
                        <label for="Image" class="form-label inline-block mb-2 text-gray-700">Image-3(add the
                            left side of the product)</label>
                        <input class="form-control
                                        block
                                        w-full
                                        px-3
                                        py-1.5
                                        text-base
                                        font-normal
                                        text-gray-700
                                        bg-white bg-clip-padding
                                        border border-solid border-gray-300
                                        rounded
                                        transition
                                        ease-in-out
                                        m-0
                                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                            name="Image3" type="file" onchange="viewImage3(event);" id="formFile">




                        <div class="py-8 flex justify-center">
                            <button type="submit"
                                class="inline-block px-6 py-2.5 bg-gray-800 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out">Add
                                product</button>

                        </div>


                    </div>
                </div>


        </form>
    </div>


</div>


<script>
    function viewImage1(event) {
        document.getElementById("preview1").src = URL.createObjectURL(event.target.files[0]);

    }
    function viewImage2(event) {
        document.getElementById("preview2").src = URL.createObjectURL(event.target.files[0]);

    }
    function viewImage3(event) {
        document.getElementById("preview3").src = URL.createObjectURL(event.target.files[0]);

    }
</script>